@import url("https://fonts.googleapis.com/css2?family=Alike+Angular&family=Allura&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+VIC+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  max-width: 100%;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

.nonIndexHtml {
  margin-bottom: 0px;
  &::before {
    display: none;
  }
}

a {
  text-decoration: none;
  color: #000;
  font-family: Poppins, sans-serif;
}

li {
  list-style: none;
}

$primaryColor: #3c65f5;
$primaryColorHover: #6582eb;
$white: #fff;

@mixin flexcontent($gap) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

.navHeroSection {
  background: none;
  position: relative;
  @mixin spanContentForDesign {
    top: -80px;
    right: -330px;
    position: absolute;
    border-radius: 55px;
    transform: rotate(60deg);
  }
  /* Span */
  .span1 {
    @include spanContentForDesign();
    background-color: #e1edff;
    width: 35rem;
    height: 33rem;
  }
  .span2 {
    @include spanContentForDesign();
    background-color: #cdddf6;
    width: 30rem;
    height: 30rem;
  }
  .span3 {
    @include spanContentForDesign();
    background-color: #c0d3f0;
    width: 25rem;
    height: 25rem;
  }
  /*  */
  &::before {
    content: "";
    background: #f2f6fd;
    position: absolute;
    z-index: -111;
    height: 100vh;
    inset: 0;
    transform: skewY(-5deg);
  }
  .mainNavbar {
    @include flexcontent(1px);
    justify-content: space-between;
    padding: 5px 65px;
    background-color: #f2f6fd;
    &.onscrollVisble {
      position: fixed;
      width: 100%;
      top: 0px;
      background: #f2f6fd;
      padding: 2px 25px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      z-index: 111;
      .logoImg {
        a {
          img {
            width: 7rem;
          }
        }
      }
    }
    .menuToggle {
      display: none;
    }
    .logoImg {
      a {
        img {
          width: 12rem;
        }
      }
    }
    .ulBar {
      @include flexcontent(25px);

      .ulBarLogoImage {
        display: none;
      }
      li {
        a {
          font-size: 1.1rem;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 0%;
            left: 50%;
            bottom: -6px;
            height: 3px;
            background-color: $primaryColor;
            transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
          }
          &:hover::after {
            width: 100%;
            left: 0;
            transform: translateX(0);
          }
        }
        .highlight {
          background-color: $primaryColorHover;
          color: $white;
          padding: 2px 15px;
          border-radius: 5px;
          &::after {
            display: none;
          }
        }
      }
    }
    .contactUs {
      z-index: 111;
      background: $primaryColor;
      color: $white;
      padding: 10px 15px;
      border-radius: 5px;
      font-weight: 600;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
      transition: box-shadow 0.2s ease-in-out;
      &:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      }
    }
  }

  .heroSection {
    @include flexcontent(5px);
    justify-content: space-evenly;
    position: relative;
    .serachBarContent {
      margin-top: 65px;
      width: 40%;
      strong {
        font-family: Roboto, serif;
        font-size: 3.2rem;
        color: #05264e;
        font-weight: 900;
        z-index: 111;
        .innerStrongH {
          font-weight: 700;
          position: relative;
          display: inline-block;
          color: #3c65f5;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 5px;
            width: 100%;
            height: 20px;
            background-color: #dfe7fc;
            z-index: -1;
          }
        }
      }
      p {
        margin-top: 15px;
        font-size: 1.3rem;
        color: #4f5e64;
      }
      .btnSearch {
        margin-top: 25px;
        background-color: $white;
        padding: 0px;
        background-color: transparent;
        border: none;
        a {
          padding: 5px 10px;
          border: 0.1rem solid $primaryColor;
          border-radius: 25px;
          font-family: Roboto, sans-serif;
          font-size: 1.4rem;
          width: 100%;
          height: 100%;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
          &:hover {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            background-color: $primaryColor;
            color: $white;
            border-color: transparent;
          }
        }
      }
    }
    .pictureContent {
      .image {
        width: 100%;
        position: relative;
        .dotBoxImage {
          position: absolute;
          z-index: 11;
          top: -25px;
          right: 31px;
          animation: dotMove 3s infinite alternate ease-in-out;
        }
        @keyframes dotMove {
          0% {
            transform: translateY(0);
          }
          100% {
            transform: translateY(30px);
          }
        }
        .dotBoxImageSmall {
          position: absolute;
          z-index: 11;
          left: -12px;
          bottom: 15px;
          height: 50px;
          width: 100px;
          object-fit: cover;
          animation: dotMovesmall 3s infinite alternate ease-in-out;
        }
        @keyframes dotMovesmall {
          0% {
            transform: translateY(-25px);
          }
          100% {
            transform: translateX(15px);
          }
        }
        .thisImg {
          width: 25em;
          border-radius: 4em;
          border-bottom-left-radius: 0px;
        }
        .thisImgBig {
          margin-left: -45px;
          animation: moveImg1 2s infinite alternate ease-in-out;
        }
        @keyframes moveImg1 {
          0% {
            transform: translateY(0);
          }
          100% {
            transform: translateY(30px);
          }
        }
        .thisImgSmall {
          width: 20em;
          margin-top: -55px;
          margin-left: 88px;
          animation: moveImg2 2s infinite alternate ease-in-out;
        }
        @keyframes moveImg2 {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(30px);
          }
        }
      }
    }
  }
}

.contactUsUlbar {
  display: none;
}

@media screen and (max-width: 1115px) {
  .navHeroSection {
    .spannhS {
      right: -455px;
    }
  }
}

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  .navHeroSection {
    margin-bottom: 95px;
    .spannhS {
      z-index: 11;
    }
    &::before {
      content: "";
      height: 190vh;
    }
    .mainNavbar {
      position: relative;
      justify-content: space-between;
      padding: 5px 15px;
      flex-direction: column;
      .menuToggle {
        background: $white;
        padding: 25px 35px;
        padding-right: 75px;
        border-radius: 25px;
        border: 0.1rem solid $primaryColor;
        display: block;
        position: fixed;
        top: 122px;
        right: -52px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        z-index: 11111;
        &::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 2px;
          background: #000;
          transform: translateY(-9px);
          transition: 0.5s;
          box-shadow: 0px 7px 0px #000;
        }
        &::after {
          content: "";
          position: absolute;
          width: 20px;
          height: 2px;
          background: #000;
          transform: translateY(5px);
          transition: 0.5s;
        }
        &.active::before {
          transform: translateY(0px) rotate(45deg);
          box-shadow: 0 0 0 red;
          background-color: red;
        }
        &.active::after {
          transform: translateY(0px) rotate(-45deg);
          background-color: red;
          box-shadow: 0 0 0 red;
        }
      }
      .ulBar {
        position: fixed;
        flex-direction: column;
        width: 100%;
        top: -5555px;
        left: 0px;
        height: 112%;
        background-color: $white;
        z-index: 1111;
        align-items: normal;
        padding: 15px;
        transition: top 0.3s ease-in-out;
        .ulBarLogoImage {
          display: block;
          position: absolute;
          top: -12px;
          left: 50%;
          transform: translate(-50%, 10%);
          width: 15rem;
        }
        li {
          border-bottom: 1px solid #000;
          a {
            font-size: 1.5rem;
            color: $primaryColor;
          }
        }
        .contactUsUlbar {
          display: block;
          background: $primaryColor;
          position: absolute;
          left: 50%;
          top: 75%;
          transform: translate(-50%, -50%);
          color: $white;
          padding: 10px 15px;
          border-radius: 5px;
          font-weight: 600;
          width: 10rem;
          text-align: center;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
            rgba(0, 0, 0, 0.22) 0px 10px 10px;
          transition: box-shadow 0.2s ease-in-out;
          &:hover {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
              rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          }
        }
        &.ulBarActive {
          top: -5px;
        }
      }
      .contactUs {
        display: none;
      }
    }
    .heroSection {
      flex-direction: column-reverse;
      margin-top: 35px;
    }
  }
}

@media screen and (max-width: 881px) {
  .navHeroSection {
    .spannhS {
      right: -455px;
    }
    &::before {
      content: "";
      height: 180vh;
    }
    .mainNavbar {
      .contactUs {
        font-weight: 500;
        font-size: 0.7rem;
        padding: 5px 15px;
      }
    }

    .heroSection {
      width: 100%;
      .serachBarContent {
        width: 100%;
        padding: 15px;
      }
    }
  }
}

@media screen and (max-width: 625px) {
  .navHeroSection {
    &::before {
      height: 150vh;
    }
    .mainNavbar {
      .ulBar {
        .contactUs {
          font-size: 0.9rem;
        }
      }
      .contactUs {
        right: 15px;
      }
    }
    .heroSection {
      width: 100%;
      .serachBarContent {
        margin-top: 55px;
        width: 100%;
        padding: 15px;
        strong {
          font-size: 2.5rem;
          .innerStrongH {
            &::after {
              height: 10px;
            }
          }
        }
        p {
          font-size: 1.4rem;
        }
        .btnSearch {
          a {
            font-size: 1.2rem;
          }
        }
      }
      .pictureContent {
        .image {
          .dotBoxImage {
            height: 3.5rem;
            top: 2px;
            right: 20px;
          }
          .dotBoxImageSmall {
            width: 4rem;
            height: 2rem;
          }
          .thisImgBig {
            width: 15rem;
          }
          .thisImgSmall {
            width: 10rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 488px) {
  .navHeroSection {
    .spannhS {
      right: -395px;
    }
  }
}

@media screen and (max-width: 388px) {
  .navHeroSection {
    &::before {
      height: 145vh;
    }
    .spannhS {
      right: -425px;
    }
    .heroSection {
      .serachBarContent {
        strong {
          font-size: 2rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
      .pictureContent {
        .image {
          .thisImgBig {
            margin-left: 0px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 280px) {
  .navHeroSection {
    .heroSection {
      .pictureContent {
        .image {
          .thisImgBig {
            width: 200px;
          }
          .thisImgSmall {
            width: 120px;
          }
        }
      }
    }
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: opacity 0.9s ease-in-out, filter 0.9s ease-in-out,
    transform 0.9s ease-in-out;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

/* Jobs category Here */

.jobsCategorySection {
  margin-top: 150px;
  padding: 5px 55px;
  margin-bottom: 100px;
  .jobsCategoryHead {
    font-size: 2.5rem;
    margin-bottom: 15px;
    text-align: center;
  }

  .mainJobsDiv {
    @include flexcontent(15px);
    flex-wrap: wrap;
    margin: 0;

    .job-card {
      background: white;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      max-width: 350px;
      text-align: center;

      .job-image {
        width: 100%;
        height: auto;
      }

      .job-info {
        padding: 15px;

        h2 {
          margin: 10px 0;
          font-size: 1.2rem;
        }

        .details {
          display: flex;
          justify-content: space-around;
          font-size: 1rem;
          color: #555;
          margin: 5px 0;
        }

        p {
          font-size: 1rem;
          color: #444;
          text-align: left;
          padding: 0px 28px;
        }

        .buttons {
          display: flex;
          justify-content: space-between;
          gap: 10px;
          margin-top: 15px;

          button {
            flex: 1;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
          }

          .apply {
            background: $primaryColor;
            color: white;

            &:hover {
              background: $primaryColorHover;
            }
          }

          .description {
            background: #e0e0e0;

            &:hover {
              background: #d0d0d0;
            }
          }
        }
      }
    }
  }
  .viewJobsBtn {
    margin-top: 50px;
    @include flexcontent(2px);

    .viewJobsCategory {
      font-size: 1.3rem;
      border-radius: 5px;
      padding: 5px 15px;
      font-weight: 600;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      position: relative;
      transition: color 0.5s ease-in-out;
      &::before {
        content: "";
        position: absolute;
        width: 0%;
        height: 100%;
        top: 0px;
        left: 0px;
        border-radius: 5px;
        background-color: $primaryColor;
        z-index: -1;
        transition: width 0.5s ease-in-out;
      }
      &:hover::before {
        width: 100%;
      }
      &:hover {
        color: $white;
      }
    }
  }
}

@media screen and (max-width: 887px) {
  .jobsCategorySection {
    margin-top: 65px;
    padding: 15px 5px;
    .mainJobsDiv {
      .job-card {
        .job-card {
          .job-info {
            h2 {
              font-size: 0.5rem;
            }
            .details {
              font-size: 0.5rem;
            }
            p {
              font-family: 0.5rem;
            }
            .buttons {
              button {
                font-size: 0.1rem;
                padding: 5px 1px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 739px) {
  .jobsCategorySection {
    .mainJobsDiv {
      .job-card {
        width: 200px;
        .job-info {
          h2 {
            font-size: 1rem;
          }
          .details {
            font-size: 0.8rem;
            @include flexcontent(5px);
            flex-direction: column;
          }
          p {
            font-size: 0.8rem;
            text-align: center;
          }
          .buttons {
            @include flexcontent(5px);
            flex-direction: column;
            align-items: normal;
            width: 100%;
            button {
              font-size: 0.8rem;
              padding: 5px 1px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 625px) {
  .jobsCategorySection {
    .viewJobsBtn {
      .viewJobsCategory {
        font-size: 0.9rem;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .jobsCategorySection {
    padding: 5px 15px;
    .mainJobsDiv {
      .job-card {
        width: 150px;
        .job-info {
          h2 {
            font-size: 0.8rem;
          }
          .details {
            font-size: 0.6rem;
            @include flexcontent(5px);
            flex-direction: column;
          }
          p {
            font-size: 0.6rem;
          }
          .buttons {
            @include flexcontent(5px);
            flex-direction: column;
            align-items: normal;
            width: 100%;
            button {
              font-size: 0.5rem;
              padding: 5px 1px;
            }
          }
        }
      }
    }
  }
}

/* Call To Action Section */

.callToActionContent {
  font-family: Arial, sans-serif;
  @include flexcontent(2px);
  background-color: #f8f9fa;
  margin-top: 25px;
  .job-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    padding: 20px;
    gap: 40px;
    flex-direction: row-reverse;
    h3 {
      color: gray;
      font-weight: normal;
    }
    h1 {
      font-size: 36px;
      margin: 10px 0;
      .highlight {
        color: blue;
        font-weight: bold;
      }
    }
    p {
      color: #666;
      font-size: 16px;
      line-height: 1.5;
    }

    .buttons {
      margin-top: 20px;
      display: flex;
      align-items: center;
      gap: 15px;
      .search {
        background-color: blue;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
      }

      .search:hover {
        background-color: darkblue;
      }
      .learn-more {
        color: black;
        text-decoration: underline;
      }
    }
    .image-container {
      flex: 1;
      .job-image {
        width: 900px;
        max-width: 500px;
        border-radius: 20px;
      }
    }
  }
}

@media screen and (max-width: 968px) {
  .callToActionContent {
    .job-section {
      flex-direction: column-reverse;
      width: 100%;
      .image-container {
        width: 100%;
        .job-image {
          width: 90%;
          max-width: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .callToActionContent {
    .job-section {
      flex-direction: column-reverse;
      text-align: center;
      .content {
        h3 {
          font-size: 1rem;
        }
        h1 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1rem;
        }
        .buttons {
          .search {
            font-size: 0.7rem;
          }
          .learn-more {
            font-size: 0.7rem;
          }
        }
      }
    }

    .buttons {
      justify-content: center;
    }
  }
}

/* Achivement Counts */

.achivementCount {
  margin-top: 55px;
  background-color: #fff;
  padding: 40px 0;
  text-align: center;

  .wrapper {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 150px;

    div {
      display: flex;
      align-items: center;
      font-size: 3rem;
      font-weight: bold;
      color: #2563eb;

      .plusNumCount {
        font-size: 2rem;
        margin-left: 5px;
      }
    }

    .text {
      font-size: 2rem;
      color: #333;
      font-weight: 600;
      margin-top: 8px;
    }
    .pLine {
      font-size: 1.2rem;
      width: 80%;
    }
  }

  @media screen and (max-width: 1253px) {
    .achivementCount {
      .wrapper {
        flex-wrap: wrap;
      }
    }
  }

  @media (max-width: 768px) {
    .wrapper {
      flex-direction: column;
      gap: 20px;
    }

    .container div {
      font-size: 2rem;
    }

    .text {
      font-size: 0.9rem;
    }
  }
}

/* Footer Section */

.mainFooterSection {
  background: linear-gradient(#f2f6fd, #fff);
  margin-top: 102px;
  padding: 15px;
  .footerBox {
    @include flexcontent(15px);
    justify-content: space-evenly;
    .logoHere {
      width: 30%;
      @include flexcontent(35px);
      flex-direction: column;
      align-items: normal;
      .logoImg {
        img {
          width: 17rem;
        }
      }
      p {
        font-size: 0.9rem;
        font-family: Poppins, sans-serif;
      }
      .socioLink {
        a {
          i {
            margin-right: 15px;
            font-size: 1.5rem;
          }
          &:nth-child(1) {
            color: $primaryColor;
          }

          &:nth-child(3) {
            color: red;
          }
        }
      }
    }
    .officesFooter {
      width: 40%;
      @include flexcontent(25px);
      flex-direction: column;
      address {
        font-family: Poppins, sans-serif;
      }
    }
    .phoneEmail {
      @include flexcontent(30px);
      align-items: normal;
      flex-direction: column;
      a {
        i {
          margin-right: 5px;
        }
      }
    }
  }
  .copyright {
    text-align: center;
    margin-top: 55px;
  }
}

@media screen and (max-width: 905px) {
  .mainFooterSection {
    .footerBox {
      flex-direction: column;
      .logoHere,
      .officesFooter,
      .phoneEmail {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 505px) {
  .mainFooterSection {
    .footerBox {
      .logoHere {
        .logoImg {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 261px) {
  .mainFooterSection {
    .footerBox {
      .phoneEmail {
        a {
          font-size: 0.7rem;
        }
      }
    }
  }
}
